{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}"> 
    <title>Register Form</title>
</head>
<body>
    <center>
        <div class="register-box">
                <div class="heading">
                <p  class="text">Add TODO Here</p>
            </div>
        <div class="container">
        <form method="POST">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" placeholder="user"  value={{ username }} name="user"></input><br>
        <label>Item</label>
        <input type="text" placeholder="item"  name="item"></input><br>
        <label>Priority</label>
        <select name="priority"  placeholder="priority" id="priority">
            <option value="high">High</option>
            <option value="low">Low</option>
            <option value="medium">Medium</option>
          </select>
        <div class="checkbox">
        <label>Is Completed</label>
        <div class="form-outline">
            <input type="checkbox" id="is_completed" name="is_completed" value="True">Yes
            <input type="checkbox" id="is_completed" name="is_completed" value="False">No
        </div></br></div>
        
        <button type="submit">submit</button>
        </form>
        </div>
    </center>
    <button class="logout-button"><a href="{% url 'logout'  %}"> Log Out</a></button>
    </body>
</html>